.editor,.textarea-wrap{
	height:100%;
}

// mark edit
.editor{
	position:relative;

	textarea{
		position: absolute;
		width: 100%;
		bottom: 0;
		top: 0;
		resize: none;
		background:none;
		color:rgba(0,0,0,.7);
	    border: none;
	    overflow: auto;
	    outline: hidden;

	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;

		width:100%;
		font-family: 'Source Code Pro', monospace;
		font-size:18px;
	}


	.url-blocker{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background: rgba(255,255,255,0.9);
		z-index: 20;


		p{
			position: absolute;
			top: 20%;
			left: 50%;
			@include vendor(transform, translateX(-50%));

			font-family: 'Avenir';
			font-weight: 900;
			font-size: 14px;

		}

	}
}