<div id="profile-box">
	<img class="image" src="img/meSQUARE.jpg" />
	<p class="name">Dominic Lind</p>
</div>

<div class="grid grid-container grid-container-center article-list">
	<div class="content">
	
		<ul class="filter">
			<li ng-repeat="filter in filters"><a ng-click="filterArticles(filter.action)" ng-class="{'active' : filter.action == currentFilter}">{{filter.name}}</a></li>
		</ul>

		<ul>
			<li class="list-item" ng-repeat="article in articles | orderBy:'id':true" ng-click="editArticle(article.id)">
				<h1 class="title">{{ article.title }}</h1>
				<p class="subtitle">{{article.subtitle}}</p>

				<r-status article="article"></r-status>
			</li>
		</ul>

	</div>

</div>