<nav class="top clearfix">
	<a class="home logo" ng-click="goToArticles();"></a>
		
	<div class="default-buttons">
		
		<a class="button" ng-click="search();">
			<span class="entypo search"></span>
			search
		</a>

		<a class="button write filled" ng-click="newArticle();">
			<span class="entypo text-doc"></span>
			<span class="entypo plus"></span>
			write
		</a>

		<!--a class="button" ng-show="$root.currentStateName == 'article'"ng-click="editArticle();">
			<span class="entypo pencil"></span>
			edit
		</a-->


		<a class="user" ng-click="goToMe();">
			<span class="entypo user"></span>
		</a>
	</div>

</nav>