<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>notes</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/tomorrow-night-eighties.min.css">
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>

		<link rel="stylesheet" href="css/main.css">
	
	</head>

	<body ng-app="articles" class="view-{{$root.currentStateName}}" ng-class="{'edit' : $root.isEdit}" ng-controller="MainCtrl">

		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	
		
		<nav class="top" ng-hide="$root.isEdit">
			<a class="button home"  ng-hide="$root.currentStateName == 'articles'" ng-click="goToArticles();">home</a>
			
			<a class="button filled" ng-click="newArticle();">write</a>
			<a class="button" ng-show="$root.currentStateName == 'article'"ng-click="editArticle();">edit</a>
			<a class="button" ng-click="search();">search</a>

		</nav>



		<div ui-view class="grid"></div>

	</body>

	<script src="js/jquery.min.js"></script>
	<script src="js/showdown.min.js"></script>
	<script src="js/angular.min.js"></script>

	<script src="js/ng-tags-input.js"></script>
	<script src="js/angular-ui-router.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/app.js"></script>

</html>