.article-list{
	padding:$padding*4 $padding*2;
	ul{
		margin:0;
		padding:0;
		list-style:none;
	}

	.list-item{
		padding:$padding;
		margin-right:$margin;
		@include vendor(transition, all 300ms ease);
		cursor:pointer;
		
		h1{
			margin:0 0 $margin 0;
			color:#333130;
		}
		p{
			color:#333130;
			opacity:0.7;
		}

		.date{
			font-size:12px;
			text-transform:uppercase;
		}
	}

}