#hero{
	position:relative;
	background:tomato;
	height:220px;
	margin-bottom:80px;
	-webkit-transition:opacity 1000ms ease 400ms;
	opacity:0;

	background-image:url('../img/suarez-vampire-teeth-face-scary-liverpool-madrid-transfer.jpg');
	background-position: center center;

	&.show{
		opacity:1;
	}
	
	.river-logo{
		background-image:url('../img/river-transparent-logo.png');
		background-repeat:none;
		background-position:center center;
		background-size: auto 550%;
		position:absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
	}
}

.article-list{
	ul{
		padding:0;
		list-style:none;
	}

	.list-item{
		position:relative;
		padding:$padding*2 0;
		margin-right:$margin;
		@include vendor(transition, all 300ms ease);
		cursor:pointer;

		border-bottom:1px solid #f1f3f5;
		
		.title, .subtitle{
			margin:0;
			width: 80%;
		}
		.title{
			font-size:25px;
			line-height:30px;
			color:#333130;
		}
		.subtitle{
			font-family:'Source Sans Pro';
			font-size:18px;
			font-weight:300;
			color:#333130;
			opacity:0.7;
		}

		.url-icon{
			position:absolute;
			top:50%;
			left:-40px;
			font-size:40px;
			//opacity:0.4;
			color:$UI_BASE_COLOR;
		}

		// status
		.status{
			display: inline-block;
			padding: 0px 8px;
			border-radius: 99px;

			font-family:'Avenir';
			font-size:12px;
			font-weight:900;
			text-transform:uppercase;
			border:2px solid #59be5c;
			background:#59be5c;
			//color:#59be5c;
			color:white;

			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -12px;



			&.published-false{
				color:#eaa141;
				border-color:#eaa141;
				background:none;
			}
		}

	}


	//filter
	.filter{
		margin-bottom:0;
		border-bottom:1px solid #a6a4a7;

		li{
			display: inline-block;
			a{	
				opacity:0.3;
				color:#a6a4a7;
				cursor:pointer;
				font-family: 'Avenir';
				font-weight: 900;
				font-size: 14px;
				text-transform: uppercase;
				padding-bottom: $padding/2;
				margin-right: $margin;
				box-shadow:inset 0 0px 0 0 #a6a4a7;
				-webkit-transition:box-shadow 200ms ease,opacity 100ms ease;

				&:hover{
					opacity:0.8;
				}
				&.active{
					opacity:1;
					box-shadow:inset 0 -2px 0 0 #a6a4a7;
				}
			}
		}
	}
}