
.head{
	padding:$padding*4 0;
	position:relative;
	background-position:center center;
	
	.article-head{
		font-size:50px;
		line-height:70px;
		max-width:$max_width;
		width: $percent_width;
		margin: 0 auto;
		//border-bottom: 1px solid rgba(0,0,0,.1);
	}

	.subtitle{
		font-family:'Source Sans Pro';
		color:#686868;
		font-size:20px;
		height:27px;
		font-weight: 300;
	}
}