.floaty{
	position:relative;

	
	.floaty-label{
		font-family: 'Source Sans Pro';
		font-weight: 900;
		font-size: 14px;
		position: absolute;
		top: 50%;
		text-transform: uppercase;
		opacity:0;
		-webkit-transition: opacity 400ms ease 200ms, left 400ms ease;
		z-index:-10;

		&.showing{
			opacity:0.5;
		}

		&.type-title, &.type-search{
			margin-top: -12px;
		}

		&.type-subtitle{
			margin-top: -7px;
		}
	}


}