

// main

body{
    background: white;
    -webkit-font-smoothing:antialiased;
}

body{
	padding-top:90px;
	
	&.edit{
		overflow:hidden;
		padding:0;
	}
}

pre{
	padding:0;
}


// nav

.button{
	font-family:Montserrat;
	font-weight:bold;
	padding: 10px 20px;
	display: inline-block;
	border: 3px solid $flat-blue-1;
	text-transform: uppercase;
	font-size: 16px;
	color:$flat-blue-1;
	cursor:pointer;
	text-decoration:none;

	&:hover{
		text-decoration:none;
		background:$flat-blue-1;
		color:white;
	}
	
	&.filled{
		background:$flat-blue-1;
		color:white;
	}

	&.filled:hover{
		background:$flat-blue-2;
	}

	&.publish{
		color:white;
		background:$flat-green-1;
		border: 3px solid $flat-green-1;
	}
	&.publish:hover{
		background:$flat-green-4;
		border: 3px solid $flat-green-4;
	}
}
nav{
	position:fixed;
	padding:$padding*2 0;
	background:white;
	border-bottom:1px solid rgba(0,0,0,.2);
	top:0;	
	width:100%;


	.button{
		float:right;
		margin:0 $margin;
		&.home{
			position:absolute;
		}

	}

	&.bottom{
		.button{
			float:none;
		}
		bottom:0;
		top:auto;
		text-align:center;
		border:none;
		border-top:1px solid grey;
	}
	a{
		
	}

}



//
// notes
//

.note{
	display:block;

	a{
		display:block;
	}
}





//
/// write NOTE
//
.edit{


	.center{
		width: 700px;
		margin: 50px auto 150px auto;
	}
		
	.edit{
		.write-note{	
			top:0;
		}
	}


	.write-note, .markdown{
		position:absolute;
		top:0px;
		bottom:76px;
		padding:$padding;
		overflow:scroll;
	}

	.write-note{
		top: 0;
		left: 0%;
		width: 100%;
		-webkit-transition:all 400ms ease;
		//background:$flat-gray-1;

		&.live-preview{
			left:0;
			width:50%;
		}
		&.full-preview{
			left:-100%;
		}

		.content{
			
			max-width: 600px;
			margin: 0 auto;
			height: 100%;
			padding-bottom: 65px;



			.article-header{
				background:none;
				outline: none;
				border: none;
				font-size: 26px;
				margin-bottom: 10px;
				width: 100%;
				padding: $padding;
				color: #333130;
				&:focus{
					background:$flat-gray-2;
					color:#333130;
				}
			}
	
			// mark edit
			.md-edit{
				resize: none;
				background:none;
				color:rgba(0,0,0,.7);
			    border: none;
			    overflow: auto;
			    outline: none;

			    -webkit-box-shadow: none;
			    -moz-box-shadow: none;
			    box-shadow: none;

				width:100%;
				height:100%;
				font-family:'Monaco';
				font-size:18px;
			}



		}
	}
		
	.markdown{
		&.article{
			max-width:none;
		}
		.content{
			
			max-width: 600px;
			margin: 0 auto;
			height: 100%;
			padding-bottom: 80px;
		}
		width:100%;
		left:50%;
		border-left:1px solid grey;
		-webkit-transition:all 400ms ease;
		-webkit-transform:translateX(100%);
		
		&.live-preview, &.full-preview{
			-webkit-transform:translateX(0);
		}
		
		&.live-preview{
			width:50%;
		}
		&.full-preview{
			width:100%;
			left:0;
		}
	}
}


	.tags{
		margin: 0 0 24px 0;
		padding: 0;
		list-style: none;
		.tag{
			text-align:left;
			display: inline-block;
			padding: 5px 15px;
			text-transform: uppercase;
			background: #2c3e50;
			font-size: 11px;
			margin: 0 10px 10px 0;
			color:white;
			background:$flat-blue-1;
		}
	}