// main
body{	
    background: white;
    padding-top:90px;
	
	&.view-article{
		padding-top:0;
	}
	&.edit{
		overflow:hidden;
		padding:0;
	}
}

.overflow-hidden{
	overflow:hidden;
}

.content{
	max-width: 800px;
	margin: 0 auto;
	height: 100%;
}	
