$UI_BASE_COLOR:$flat-blue-1;

$max_width : 700px;
$percent_width : 85%;



// styles
@import 'nav.scss';
@import 'ui.scss';

@import 'articles.scss';
@import 'article.scss';
@import 'edit.scss';
@import 'search.scss';
@import 'me.scss';

// editor
@import 'editor/tooltip.scss';
@import 'editor/editor.scss';

@import 'tags.scss';




// main
body{	
    background: white;	
}

.overflow-hidden{
	overflow:hidden;
}

.content{
	width:$percent_width;
	max-width: $max_width;
	margin: 0 auto;
	height: 100%;
}	
