nav{
	//position:fixed;
	padding:$padding*2;
	top:0;	
	width:100%;
	z-index: 100;


	.logo{
		background:url('../img/river-logo-small.png');
		display:inline-block;
		height:52px;
		width:28px;
		float:left;

		cursor:pointer;
	}
	.default-buttons{
		float:right;
	}

	a.user{
		position: relative;
		top: 1px;

		height: 40px;
		padding: 1px 0;
		color: $UI_BASE_COLOR;
		font-size: 28px;
		width: 40px;
		text-align: center;
		@include vendor( border-radius,  50%);

		&:hover{
			background:$UI_BASE_COLOR;
			color:white;
		}
	}

	&.white{

		.button{
			color:white;
			border-color:white;
		}

		a.user{
			color:white;
		}

	}
}