nav{
	position:fixed;
	padding:$padding*2 0;
	top:0;	
	width:100%;
	z-index: 100;
	
	&.black{
		background:rgba(0,0,0,0.2)
	}

	.button{
		float:right;
		margin:0 $margin;
		&.home{
			position:absolute;
		}

	}

	&.bottom{
		.button{
			float:none;
		}
		bottom:0;
		top:auto;
		text-align:center;
		border:none;
		border-top:1px solid grey;
	}
}

.view-article{
	.button{
		border: 2px solid white;
		color:white;

		&:hover{
			background:white;
			color:$flat-blue-1;
		}

		&.filled{
			background:white;
			color:$flat-blue-1;
		}
	}
}