.tags{
	margin: 0 0 24px 0;
	padding: 0;
	list-style: none;
	.tag{
		text-align:left;
		display: inline-block;
		padding: 5px 15px;
		text-transform: uppercase;
		background: #2c3e50;
		font-size: 11px;
		margin: 0 10px 10px 0;
		color:white;
		background:$flat-blue-1;
	}
}