.button{
	font-family:Montserrat;
	font-weight:bold;
	padding: $padding $padding*2;
	display: inline-block;
	border: 2px solid $flat-blue-1;
	text-transform: uppercase;
	font-size: 14px;
	color:$flat-blue-1;
	cursor:pointer;
	text-decoration:none;

	&:hover{
		text-decoration:none;
		background:$flat-blue-1;
		color:white;
	}
	
	&.filled{
		background:$flat-blue-1;
		color:white;
	}

	&.filled:hover{
		background:$flat-blue-2;
	}

	&.publish{
		color:white;
		background:$flat-green-1;
		border: 3px solid $flat-green-1;
	}
	&.publish:hover{
		background:$flat-green-4;
		border: 3px solid $flat-green-4;
	}
}